<launch>

  <!-- <arg name="seq" value="2014-07-14-14-49-50" /> -->
  <!-- <arg name="seq" value="2014-11-28-12-07-13" /> -->
  <!-- <arg name="seq" value="2014-12-12-10-45-15" /> -->
  <!-- <arg name="seq" value="2015-02-10-11-58-05" /> -->
  <!-- <arg name="seq" value="2015-05-19-14-06-38" /> -->
  <!-- <arg name="seq" value="2015-05-22-11-14-30" /> -->
  <!-- <arg name="seq" value="2015-08-13-16-02-58" /> -->
  <!-- <arg name="seq" value="2015-10-30-13-52-14" /> -->

  <node name="so_dso_gist" pkg="so_dso_place_recognition" type="test_gist" output="screen" required="true">
    <param name="incoming_id_file" value="$(find so_dso_place_recognition)/place_recognition/results/$(arg dataset)/$(arg seq)/incoming_id_file.txt" />
    <param name="bag" value="/home/moxxx066/Workspace/data/bags/$(arg dataset)/$(arg seq).bag" />
    <param name="img_topic" value="$(arg img_topic)" />
    <param name="gist_file" value="$(find so_dso_place_recognition)/place_recognition/results/$(arg dataset)/$(arg seq)/history_gist.txt" />
  </node>
</launch>

