<launch>
  <node name="so_dso_bow" pkg="so_dso_place_recognition" type="test_bow" output="screen">
    <param name="voc_file" value="$(find so_dso_place_recognition)/place_recognition/src/BoW/ORBvoc.txt" />
    <param name="incoming_id_file" value="$(find so_dso_place_recognition)/place_recognition/results/RobotCar/$(arg date)/incoming_id_file.txt" />
    <param name="bag" value="/home/moxxx066/Workspace/data/bags/RobotCar/$(arg date).bag" />
    <param name="img_topic" value="camera/left/image_raw" />
    <param name="output_file" value="$(find so_dso_place_recognition)/place_recognition/results/RobotCar/$(arg date)/history_bow.txt" />
  </node>
</launch>