<launch>
  <node name="so_dso_fbow" pkg="so_dso_place_recognition" type="test_fbow" output="screen">
    <param name="voc_file" value="$(find so_dso_place_recognition)/place_recognition/src/FBoW/orb_mur.fbow" />
    <param name="incoming_id_file1" value="$(find so_dso_place_recognition)/place_recognition/results/RobotCar/2015-10-30-13-52-14/incoming_id_file.txt" />
    <param name="incoming_id_file2" value="$(find so_dso_place_recognition)/place_recognition/results/RobotCar/2014-11-28-12-07-13/incoming_id_file.txt" />
    <param name="bag1" value="/home/jiawei/Workspace/data/bags/RobotCar/2015-10-30-13-52-14.bag" />
    <param name="bag2" value="/home/jiawei/Workspace/data/bags/RobotCar/2014-11-28-12-07-13.bag" />
    <param name="img_topic" value="camera/left/image_raw" />
    <param name="output_file" value="$(find so_dso_place_recognition)/place_recognition/results/RobotCar/FBoW/t8/diff_mat.txt" />
  </node>
</launch>
