<launch>

  <!-- <arg name="date" value="2014-07-14-14-49-50" /> -->
  <!-- <arg name="date" value="2014-11-28-12-07-13" /> -->
  <!-- <arg name="date" value="2014-12-12-10-45-15" /> -->
  <!-- <arg name="date" value="2015-02-10-11-58-05" /> -->
  <arg name="date" value="2015-05-19-14-06-38" />
  <!-- <arg name="date" value="2015-05-22-11-14-30" /> -->
  <!-- <arg name="date" value="2015-08-13-16-02-58" /> -->
  <!-- <arg name="date" value="2015-10-30-13-52-14" /> -->


  <node name="so_dso_gist" pkg="so_dso_loop_closure" type="test_gist" output="screen">
    <param name="incoming_id_file" value="$(find so_dso_loop_closure)/loop_closure/results/RobotCar/$(arg date)/incoming_id_file.txt" />
    <param name="bag" value="/home/jiawei/Workspace/data/bags/RobotCar/$(arg date).bag" />
    <param name="img_topic" value="camera/left/image_raw" />
    <param name="gist_file" value="$(find so_dso_loop_closure)/loop_closure/results/RobotCar/$(arg date)/historyGIST.txt" />
  </node>
</launch>
