<launch>
  <node name="so_dso_gist" pkg="so_dso_place_recognition" type="test_gist" output="screen">
    <param name="incoming_id_file" value="$(find so_dso_place_recognition)/place_recognition/results/Tara/grass/incoming_id_file.txt" />
    <param name="bag" value="/home/jiawei/Workspace/data/bags/Tara/grass.bag" />
    <param name="img_topic" value="/tara/left/image_raw" />
    <param name="gist_file" value="$(find so_dso_place_recognition)/place_recognition/results/Tara/grass/historyGIST.txt" />
  </node>
</launch>
